{release, {autorization, "1"},
[
  kernel,
  stdlib,
  sasl,
  inets,
  asn1,
  syntax_tools,
  crypto,
  public_key,
  ssl,  
  compiler,
  jsx,
  cowboy,
  epgsql,
  eredis,
  erlsom,
  autorization
]}.

{extended_start_script, true}.
{include_erts, true}.
{include_src, true}.
{include_priv, true}.
%{vm_args, "vm.args"}.
{sys_config, "sys.config"}.

